<% include ../partials/header %>
<% include ../partials/menu %>
<div class="container">
    <div>
      <img src="groupplaceholder.png" alt="Simply Easy Learning" width="1260" height='300'>
      <h1> About Us</h1>
      <p>we are a group of like minded individuals, who came together to create
        a wonderful thing for everyone to enjoy... Another weather website to
        mislead you about the weather.</p>
    </div>
    <h1>Meet The Team</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">

          <div class="display-block card">
              <h4>    Aaron Mankel</h4>
                <img src="../img/aaron_mankel.jpg" width="100" height='100'>
                <p> I am working on a bachelors of physics with a minor in computer science at the university of colorado boulder.  I am currently in my senior year second semester. I will be going to graduate school in the fall to work on a doctoreate of particle physics. I have a wonderful wife of three years and I have two kids. My son is 9 and my daughter is 1.</p>
            </div>


          <br/>
          <div class="display-block card">
            <h4>    Kieran Zylstra</h4>
              <img src="../img/kieran_zylstra.jpg" width="100" height='100'>
              <p>I am in the process of getting a computer science bachelor's degree from the university of colorado boulder. I am in my sophomore year at this school and plan on graduating in May 2022. I enjoy anything outdoors and used to be a ski instructor at A-Basin.</p>
          </div>
          <br/>
          <div class="display-block card">
            <h4>    junZhen Wang</h4>
              <img src="../img/JunZhen_Wnag.jpg" width="100" height='100'>
              <p>  I’m an international student who comes from China and currently this is my second year of being a student in computer science major at university of colorado boulder.   </p>
          </div>
          <br/>
          <div class="display-block card">
            <h4>    Nik Suyko</h4>
              <img src="../img/nik_suyko.jpg" width="100" height='100'>
              <p>  My name is Nik, i’m currently pursuing a CS degree in the College of Arts and Sciences. I’m finishing up my sophomore year at the moment. I’m really interested in computers and music production, and also love to go fishing and biking during my free time.   </p>
          </div>
          <br/>
          <div class="display-block card">
            <h4>    Oliver</h4>
              <img src="../img/aaron_mankel.jpg" width="100" height='100'>
              <p> </p>
            </div>
        </div>
      </div>
    </div>
  </div>




<% include ../partials/footer %>
