<% include ../partials/header %>
<% include ../partials/menu %>

<body>
      <h1 id="heading" style="text-align:center">Feture Forecast</h1>
  	<div class="container">
		<br>
		<hr>
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-2">

            <img id="image_today" class="img-fluid" src="img/clear-day.png" alt="Today's Weather Icon">
          </div>
          <div class="col-10">
            <h5>
              Local Date: 
              <div class="dmy agileits w3-agile w3layouts">
                <script type="text/javascript">
                    var mydate=new Date()
                    var year=mydate.getYear()
                    if(year<1000)
                    year+=1900
                    var day=mydate.getDay()
                    var month=mydate.getMonth()
                    var daym=mydate.getDate()
                    if(daym<10)
                    daym="0"+daym
                    var dayarray=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
                    var montharray=new Array("January","February","March","April","May","June","July","August","September","October","November","December")
                    document.write(""+dayarray[day]+", "+montharray[month]+" "+daym+", "+year+"")
                </script>
            </div>
            <div id="txt"></div>
                Humidity: <span id="humidity_today">80%</span><br>
                Wind Speed: <span id="wind_today">5</span> mph<br>
                Precipitation: <span id="precip_today">10%</span><br>
              <div id="thermometer_outer">
                <div id="thermometer_inner"><p id="temp_today" class="h3"> 0 F</p></div>
              </div>
            </h5>
        
          </div>
        </div>
      </div>
      <div class="col-2">
      </div>
      
    </div>
  <div>
		<br>
		<h2 class="h1" style="text-align:center;">Future Forecast</h2>
    <hr>
      <div class="card-group">
        <div class="row" id="5_day_forecast1">
          <div style="width: 200px;">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Wednesday<!-- List Day of the Week Here --></h5>
                <p id="day1" class="card-text"> High:<!--List Temperature High --> <br>
                  Low: <!-- List Temperature Low --><br>
                  Sunrise: <!-- List Time of Sunrise --><br>
                  Sunset: <!-- List Time of Sunset --></p> 
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="5_day_forecast2">
          <div style="width: 200px;">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Thursday<!-- List Day of the Week Here --></h5>
                <p id="day2" class="card-text"> High:<!--List Temperature High --> <br>
                  Low: <!-- List Temperature Low --><br>
                  Sunrise: <!-- List Time of Sunrise --><br>
                  Sunset: <!-- List Time of Sunset --></p> 
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="5_day_forecast3">
          <div style="width: 200px;">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Friday<!-- List Day of the Week Here --></h5>
                <p id="day3" class="card-text"> High:<!--List Temperature High --> <br>
                  Low: <!-- List Temperature Low --><br>
                  Sunrise: <!-- List Time of Sunrise --><br>
                  Sunset: <!-- List Time of Sunset --></p> 
              </div>
            </div>
          </div>
        </div>
          <div class="row" id="5_day_forecast4">
            <div style="width: 200px;">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Saturday<!-- List Day of the Week Here --></h5>
                  <p id="day4" class="card-text"> High:<!--List Temperature High --> <br>
                    Low: <!-- List Temperature Low --><br>
                    Sunrise: <!-- List Time of Sunrise --><br>
                    Sunset: <!-- List Time of Sunset --></p> 
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="5_day_forecast5">
            <div style="width: 200px;">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Sunday<!-- List Day of the Week Here --></h5>
                  <p id="day5" class="card-text"> High:<!--List Temperature High --> <br>
                    Low: <!-- List Temperature Low --><br>
                    Sunrise: <!-- List Time of Sunrise --><br>
                    Sunset: <!-- List Time of Sunset --></p> 
                </div>
              </div>
            </div>
          </div>
      </div>
    </hr>
    </br>
  </div>
<% include ../partials/footer %>   
