<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="jumbotron">
		  <h1 class="display-4">Previous Weather</h1>
		  <p class="lead">A look at last week's weather</p>
		</div>

		
		<br><div class="row">
  <div class="column">
    <div class="card">
      <h3>Sunday</h3>
	  <h3>3/22</h3>
	  <img src="../img/weather_icons/svg/wi-day-snow.svg" width="225" height="210">
      <p>High: 70</p>
	  <p>Low: 34</p>
      
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Monday</h3>
	  <h3>3/23</h3>
	  <img src="../img/weather_icons/svg/wi-day-cloudy.svg" width="225" height="210">
      <p>High: 67</p>
	  <p>Low: 33</p>

    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Tuesday</h3>
	  <h3>3/24</h3>
	  <img src="../img/weather_icons/svg/wi-day-sunny.svg" width="225" height="210">

      <p>High: 62</p>
	  <p>Low: 29</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Wednesday</h3>
	  <h3>3/25</h3>
	  <img src="../img/weather_icons/svg/wi-day-sunny.svg" width="225" height="210">

      <p>High: 70</p>
	  <p>Low: 36</p>
    </div>
  </div><div class="column">
    <div class="card">
      <h3>Thursday</h3>
	  <h3>3/26</h3>
	  <img src="../img/weather_icons/svg/wi-day-rain.svg" width="225" height="210">

      <p>High: 75</p>
	  <p>Low: 39</p>
    </div>
  </div>
<div class="column">
    <div class="card">
      <h3>Friday</h3>
	  <h3>3/27</h3>
      <img src="../img/weather_icons/svg/wi-day-cloudy.svg" width="225" height="210">

	  <p>High: 75</p>
	  <p>Low: 36</p>
    </div>
  </div>
<div class="column">
    <div class="card">
      <h3>Saturday</h3>
	  <h3>3/28</h3>
      <img src="../img/weather_icons/svg/wi-day-sunny.svg" width="225" height="210">

	  <p>High: 70</p>
	  <p>Low: 34</p>
    </div>
  </div>
<div class="column">
    <div class="card">
      <h3>Sunday</h3>
	  <h3>3/29</h3>
      <img src="../img/weather_icons/svg/wi-day-sunny.svg" width="225" height="210">

	  <p>High: 71</p>
	  <p>Low: 32</p>
    </div>
  </div>

</div>


		

	</div>
<% include ../partials/footer %>   
